<%- include('./includes/head.ejs') %>
    <br>
    <form action="/inicio" method="POST">
        <div> 
            <button type="submit" id="boton" name="boton"  class="btn btn-primary btn-lg btn-block" value="/memo/cine"> Añade tus peliculas favoritas </button> 
        </div>
        <br>
        <div>
            <button type="submit" id="boton" name="boton" class="btn btn-primary btn-lg btn-block" value="/memo/favs"> Ver Peliculas favoritas</button>
        </div>
        <br>
        <div>
            <button type="submit" id="boton" name="boton" class="btn btn-primary btn-lg btn-block" value="memo/comida"> Comprar comida</button>
        </div>
        <br>
        <div>
            <button type="submit" id="boton" name="boton" class="btn btn-primary btn-lg btn-block" value="memo/rickroll"> Ver una sorpresa</button>
        </div>
        <br>
        <div>
            <button type="submit" id="boton" name="boton" class="btn btn-primary btn-lg btn-block" value="/preguntas"> Preguntas de Laboratorio</button>
        </div>
    </form>
</body>
<footer>

</footer>
</html>