<%- include('./includes/head.ejs') %>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="img/california-roll-3-FP.jpg" class="bd-placeholder-img card-img-top">
                <title>California</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"> Rollo California</text></svg>
    
                <div class="card-body">
                  <p class="card-text">Rollo fresco de arroz, pepino, alga y surimi.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <input type="number" value="0" id="qCalifornia" class="cantidades" min="0">
                    </div>
                    <small class="text-muted">$</small>
                    <small id="cCalifornia" class="text-muted">120</small>
                  </div>
                    <br>
                    <p> Total </p>
                    <p id="tCalifornia"> $0</p>
                </div>
              </div>
              
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="img/Teriyaki-Chicken-plate-500x500.jpg" width="500px" class="bd-placeholder-img card-img-top" >
                  <title>Teriyaki</title><rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Teriyaki de Pollo</text></svg>
      
                  <div class="card-body">
                    <p class="card-text">Rollo fresco de arroz, pepino, alga y surimi.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <input type="number" value="0" id="qTeriyaki" class="cantidades" min="0">
                      </div>
                      <small class="text-muted">$</small>
                      <small id="cTeriyaki" class="text-muted">120</small>
                    </div>
                      <br>
                      <p> Total </p>
                      <p id="tTeriyaki"> $0</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="img/download.jfif" height="50%" width="500px" class="bd-placeholder-img card-img-top" >
                  <title>Dedos de Queso</title><rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Dedos de Queso</text></svg>
      
                  <div class="card-body">
                    <p class="card-text">Rollo fresco de arroz, pepino, alga y surimi.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <input type="number" value="0" id="qDedos" class="cantidades" min="0">
                      </div>
                      <small class="text-muted">$</small>
                      <small id="cDedos" class="text-muted">120</small>
                    </div>
                      <br>
                      <p> Total </p>
                      <p id="tDedos"> $0</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="card-body d-flex justify-content-center">
        <div>
            <h2 id="totalm"> Total: $0 </h2>
        </div>
    </div>
    <div id="descuento" class="d-flex justify-content-center">        
        <input type="button" value="Activar descuento 10%" id="promo">
        <input type="button" value="Activar descuento 20%" id="promo2">
        <input type="button" value="Finalizar compra" id="fin"><br>
    </div>
    <div class="d-flex justify-content-center" id="info_extra"></div>
    <div class="d-flex justify-content-center">
        <h2> Preguntas </h2>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>
                Describe Material Design
                <ul>
                    <li>
                        <p>
                            Material design es un sistema de diseño creado por Google para ayudar a la creacion de aplicaciones de calidad en 
                            Android, IOS, Flutter y paginas web.

                            Este lenguaje diseño se basa en las texturas y la interaccion que tenemos en el dia a dia con objetos, intentando 
                            hacer una semblanza del uso de tinta y papel.

                            Este lenguaje de diseño utiliza los elementos de tipografia, color, escale, espacio, entro otros para crear una jerarquia
                            discreta que fluye con el usuario, guiandolo sutilmente durante su uso.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        <h2> Referencias </h2>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>
                <p> Google. (2022). Material Design. Recuperado de material.io, sitio web: https://material.io/design/introduction</p>
            </li>
        </ul>
    </div>
<%- include('./includes/footer.ejs') %>