</body>
<footer>
    <script src="../../public/js/Lab7venta.js"></script>
    <br>
    <form action="/inicio" method="POST">
        <div>
            <button type="submit" id="boton" name="boton" class="btn btn-primary btn-lg btn-block" value="/inicio"> Inicio </button>
        </div>
    </form>
</footer>
</html>