<%- include('./includes/head.ejs') %>
<div class="content">
    <h1> Preguntas:  </h1>
    <ul>
        <li>
            ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
            <ul>
                <li> El usar AJAx permite que las paginas web sean mas responsivas y no dependan de refrescarse continuamente cuando simpolemente pueden actualizar partes con peticiones asinconras </li>
            </ul>
        </li>
        <li>
            ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
            <ul>
                <li> 
                    Se puede decir que permitir que codigo se ejecute en el buscador en vez del navegador puede introducir la posibilidad
                    de modificar el codigo del cliente para que haga peticiones maliciosas al servidor, por los que considero que tanto desde
                    el cliente como el servidor se tiene que verificar la informacion que se recibe, con el fin de evitar modificaciones indeseadas
                    al codigo en el navegador y asi evitar problemas en el servidor.
                </li>
            </ul>
        </li>
        <li>
            ¿Qué es JSON?
            <ul>
                <li>  JavaScript Object Notation</li>
                <li> Es un formato de intercambio de datos que envia informacion que es facil de comprender para un humano y una computadora </li>
            </ul>
        </li>
    </ul>
    <h1>
        Referencias:
    </h1>
    <ol>
        <li>
            JSON.org, (s/f). Introducing JSON. Recuperado de JSON, sitio web: https://www.json.org/json-en.html
        </li>
    </ol>
</div>    
<%- include('./includes/footer.ejs') %>