<%- include('./includes/head.ejs') %>
    <h1> Preguntas de Lab: </h1>
    <ul>
        <li>
            ¿Qué beneficios encuentras en el estilo MVC?
            <ul>
                <li>
                    La reduccion considerable de tamaño en los archivos los vuelve mas legibles y faciles de manejar en el caso de realizar cambios al codigo
                </li>
                <li>
                    Este modelo te permite organizar mejor tus ideas y abstraer en modulos de tamaño reducido.
                </li>
            </ul>
        </li>
        <li>
            ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?
            <ul>
                <li>
                    Considero que hay un punto donde modularizar todo en un sistema se vuelve incomodo, ya que para hacer un pequeño cambio se tienen que modificar
                    varios archivos, lo que vuelve complicado modificar funciones complejas.
                </li>
                <li>
                    Una persona que no tenga documentacion del codigo dificilmente podra entender que esta pasando por
                    la gran cantidad de archivos que se generan.
                </li>
                <li>
                    Se generan demasiados archivos y en ocasiones aunque soy el autor de ellos, se me dificulta encontrar 
                    los lugares donde implemente funcionalidades
                </li>
                <li>
                    Entender el codigo de una aplicacion web con el paradigma MVC es bastane abstracto
                </li>
            </ul>
        </li>
    </ul>
 
<%- include('./includes/footer.ejs') %>