<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Cine</title>
</head>
<body>
    <h1>Pagina para guardar tus peliculas favoritas</h1>
    <form action="/memo/cine" method="POST">
    <label for="nombre">Titulo Pelicula: </label>
    <input type="text" id="nombre" name="nombre">
    <br><br>
    <input type="submit" id="enviar" name="enviar" value="Registrar">
    </form>
</body>
</html>