<%- include('./includes/head.ejs') %>
    <h1> Preguntas de Lab: </h1>
    <ul>
        <li>
            ¿Qué otros templating engines existen para node?
            <ul>
                <li>
                    Pug
                </li>
                <li>
                    Haml.js
                </li>
                <li>
                    EJS
                </li>
                <li>
                    hbd
                </li>
                <li>
                    Squirrelly
                </li>
                <li>
                    Eta
                </li>
                <li>
                    combyne.js
                </li>
                <li>
                    Nunjucks
                </li>
                <li>
                    marko
                </li>
                <li>
                    whiskers
                </li>
                <li>
                    Blade
                </li>
                <li>
                    Haml-Coffee
                </li>
                <li>
                    express-hbs
                </li>
                <li>
                    express-handlebars
                </li>
                <li>
                    express-views-dom
                </li>
                <li>
                    rivets-server 
                </li>
                <li>
                    LiquidJS
                </li>
                <li>
                    express-tl
                </li>
                <li>
                    Twing
                </li>
                <li>
                    Sprightly
                </li>
                <li>
                    html-express-js
                </li>
            </ul>
        </li>
    </ul>
    <h3>Referencias</h3>
    <ul>
        <li>
            Express.(2022). Template Engines. Recuperado de Express, sitio web: https://expressjs.com/en/resources/template-engines.html
        </li>
    </ul>
<%- include('./includes/footer.ejs') %>