</body>
<footer>
    <form action="/logout" method="POST">
        <br>
        <button class="button is-primary is-fullwidth" type="submit" id="boton" name="boton" value="/logout"> Cerrar Sesion</button>
        <br>
    </form>
</footer>
</html>