body {
    background-color: blueviolet;
}

#LoginBox {
    position: relative;
    left: 45%;
    top: 45%;
}

.formin {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

table, th, td {
    border: 1px solid black;
}

#qCalifornia {
    background-color: blueviolet;
}